button {
    display: block;
    margin: 0 auto;
    margin-top: 300px;
    height: 30px;
    width: 100px;
    border: none;
    background-color: rgb(63, 158, 212);
    color: rgb(0, 0, 53);
    font-weight: bold;
    border-radius: 3px;
    border-top: 5px solid skyblue;
    border-right: 3px solid skyblue;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: black;
    border-top: 5px solid white;
    border-right: none;
    color: white;
}